* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body { 
    background: rgb(9, 73, 136);
}

.tarjeta {
    position: relative;
    width: 25%;
    float: left;
    height:400px;
    display: felx;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.tarjeta .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transform: .5s;
}

.tarjeta .frente {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.tarjeta .frente img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta .frente h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.tarjeta .atras {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.tarjeta .atras .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.tarjeta .atras .link a {
   color: brown;
}

.tarjeta .atras h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.tarjeta .atras p {
    letter-spacing: 1px;
}

.tarjeta:hover .frente {
    transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .atras {
    transform: perspective(600px) rotateY(360deg);
}
